{
  "extends": [
    "next",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:@next/next/recommended"
  ],
  "plugins": ["react", "jsx-a11y"],
  "rules": {
    "react/react-in-jsx-scope": 0,
    "react/prop-types": 0,
    "react/display-name": 0
  },
  "globals": {
    "React": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
