{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint",
  "rules": {
    "react/react-in-jsx-scope": 0,
    "react/prop-types": 0,
    "react/display-name": 0
  },
  "globals": {
    "React": true
  }
}
